
<div class="page-signin">

    <div class="signin-header">
        <section class="logo text-center">
            <a href="#/">{{main.brand}}</a>
        </section>
    </div>

    <div class="main-body">
        <div class="container">
            <div class="form-container" style="max-width:550px;">
               <section class="panel panel-default">
                 <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Code Verification</strong>  </div>
                      <div class="panel-body">
                        <div class="row">
                           <div class="col-md-8 col-md-offset-2">
                               <div ng-show="cfm.message" ng-class="{'alert alert-success': cfm.success, 'alert alert-danger': !cfm.success}">{{cfm.message}}</div>
                               <form  name="form" ng-submit="cfm.codeverification()" role="form">
                                  <div class="form-group" ng-class="{'has-error': form.code.$dirty &&form.code.$error.required }">
                                      <label for="code">Code</label>
                                      <input type="text" class="form-control" name="code" id="code" placeholder="Enter your 6 digit code" maxlength="6" ng-model="cfm.code" required>
                                      <span ng-show="form.code.$dirty &&form.code.$error.required" class="help-block">Enter your 6 digit code</span>
                                  </div>
                                  <button type="submit" ng-disabled="form.$invalid || cfm.dataLoading" class="btn btn-success btn-w-md">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
                
            </div>
        </div>
    </div>
</div>