
<div class="page-signin">

    <div class="signin-header">
        <section class="logo text-center">
            <a href="#/">{{main.brand}}</a>
        </section>
    </div>

    <div class="main-body">
        <div class="container">
            <div class="form-container" style="max-width:550px;">
               <section class="panel panel-default">
                 <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Code Verification</strong>  </div>
                      <div class="panel-body">
                        <div class="row">
                           <div class="col-md-8 col-md-offset-2">
                               <form role="form">
                                  <div class="form-group">
                                      <label for="code">Code</label>
                                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your 6 digit code">
                                  </div>
                                  <button type="submit" class="btn btn-success btn-w-md">Submit</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </section>
                
            </div>
        </div>
    </div>
</div>