
<div class="page">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Add New Agent</strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div ng-show="cfm.message" ng-class="{'alert alert-success': cfm.success, 'alert alert-danger': !cfm.success}">{{cfm.message}}</div>

                    <form name="form" ng-submit="cfm.signup()" role="form">
                        <div class="form-group" ng-class="{'has-error': form.email.$dirty && form.email.$error.required }">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" name="email" id="email" class="form-control" id="exampleInputEmail1" placeholder="Enter agent's email address" ng-model="cfm.email" required>
                            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Agent's email address required</span>
                        </div>
                        <button type="submit" ng-disabled="form.$invalid || cfm.dataLoading" class="btn btn-success btn-w-md">Submit</button>
                        <div class="callout callout-info">
                            <p>Submit button will be active only when above field is valid.</p>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
</div>