
<div class="page-signin">

  <div class="signin-header">
    <section class="logo text-center">
      <a href="#/">{{main.brand}}</a>
    </section>
  </div>

  <div class="main-body">
    <div class="container">
      <div class="form-container" style="max-width:550px;">
       <section class="panel panel-default">
        <div class="panel-body">
          <div class="row">
           <div align="center"><h1>Success!!</h1>
            <p>Your profile was succefully created,<br /> and your profile activation link has been sent your mail. </p>
          </div>
        </div>
      </div>
    </section>
    
  </div>
</div>
</div>
</div>