<div class="page">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Profile</strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <form role="form">
                        <h4 style="color: #248AAF;"><strong>Personal Information<strong></h4>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                   <label for="firstname">First Name</label>
                                   <input type="text" class="form-control" id="firstname" placeholder="Enter client's first name">
                                </div>
                                <div class="col-md-6">
                                   <label for="lastname">Last Name</label>
                                   <input type="text" class="form-control" id="lastname" placeholder="Enter client's last name">
                                </div>
                            </div> 
                        </div>
                         <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                   <label for="email">Email</label>
                                   <input type="email" class="form-control" id="email" placeholder="Enter clent's email">
                                </div>
                                <div class="col-md-6">
                                   <label for="companyname">Home Phone</label>
                                   <input type="text" class="form-control" id="company" placeholder="Enter client's phone number">
                                </div>
                            </div> 
                        </div>

                         <h4 style="color: #248AAF; margin-top:30px;"><strong>Financial Information<strong></h4>
                         <p style="color:#248AAF; font-size:15px;"> Mortgage 1</p>
                          <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                   <label for="mg1-dept-desc">Dept Description</label>
                                   <input type="text" class="form-control" id="mg1-dept-desc" placeholder="Dept Description">
                                </div>
                                <div class="col-md-6">
                                   <label for="mg1-dept-amount">Dept Amount</label>
                                   <input type="text" class="form-control" id="mg1-dept-amount" placeholder=".00">
                                </div>
                            </div> 
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                   <label for="mg1-rate">Interest Rate</label>
                                   <input type="text" class="form-control" id="mg1-rate" placeholder="Interest Rate(%)">
                                </div>
                                <div class="col-md-6">
                                   <label for="mg1-amt-period">Amount Period</label>
                                   <input type="text" class="form-control" id="mg1-amt-period" placeholder="Amount Period">
                                </div>
                            </div> 
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                   <label for="mg1-month-payment">Monthly Payment</label>
                                   <input type="text" class="form-control" id="mg1-month-payment" placeholder="Monthly Payment">
                                </div>
                            </div> 
                        </div>
                        <p style="color:#248AAF; font-size:15px; marigin-top:30px;"> Mortgage 2</p>
                          <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                   <label for="mg2-dept-desc">Dept Description</label>
                                   <input type="text" class="form-control" id="mg2-dept-desc" placeholder="Dept Description">
                                </div>
                                <div class="col-md-6">
                                   <label for="mg2-dept-amount">Dept Amount</label>
                                   <input type="text" class="form-control" id="mg2-dept-amount" placeholder=".00">
                                </div>
                            </div> 
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                   <label for="mg2-rate">Interest Rate</label>
                                   <input type="text" class="form-control" id="mg2-rate" placeholder="Interest Rate(%)">
                                </div>
                                <div class="col-md-6">
                                   <label for="mg2-amt-period">Amount Period</label>
                                   <input type="text" class="form-control" id="mg2-amt-period" placeholder="Amount Period">
                                </div>
                            </div> 
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                   <label for="mg2-month-payment">Monthly Payment</label>
                                   <input type="text" class="form-control" id="mg2-month-payment" placeholder="Monthly Payment">
                                </div>
                            </div> 
                        </div>
                        <p style="color:#248AAF; font-size:15px; marigin-top:30px;"> Loan and Credit Cards</p>
                          <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                   <label for="cc-dept-desc">Dept Description</label>
                                   <input type="text" class="form-control" id="cc-dept-desc" placeholder="Dept Description">
                                </div>
                                <div class="col-md-6">
                                   <label for="cc-dept-amount">Dept Amount</label>
                                   <input type="text" class="form-control" id="cc-dept-amount" placeholder=".00">
                                </div>
                            </div> 
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                   <label for="cc-rate">Interest Rate</label>
                                   <input type="text" class="form-control" id="cc-rate" placeholder="Interest Rate(%)">
                                </div>
                                <div class="col-md-6">
                                   <label for="cc-amt-period">Amount Period</label>
                                   <input type="text" class="form-control" id="cc-amt-period" placeholder="Amount Period">
                                </div>
                            </div> 
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                   <label for="cc-month-payment">Monthly Payment</label>
                                   <input type="text" class="form-control" id="cc-month-payment" placeholder="Monthly Payment">
                                </div>
                            </div> 
                        </div>
                        <button type="submit" class="btn btn-success btn-w-md">Submit</button>
                         <div class="callout callout-info">
                                <p>Submit button will be active only when all fields are valid.</p>
                         </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
</div>